
.navbar-inverse{
    background-color: transparent;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    color: #fff;  
    Text-Decoration: none !important;
}
.navbar a{
color: #fff;
}

.nav-item a{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    Text-Decoration: none !important;
}

.navbar-principal{
    background-color: white;
   }

.nav-item-inverse a{
 color: black  ;
}

.navbar-brand-inverse{
 color: black !important ;  
 text-decoration: none !important;
}

.banner{
    z-index: 1300;
    width: 100%;
    height: 500px;
    /* margin-top: 56px; */
    background-size: 100% 100%;
    background-image: url(images/456536.jpg);
}

.banner h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 6rem;
}

.navbar-toggler{
    background-size: 100% 100%;
    background-image: url(images/boton.png);
    outline: none;
    color: black;
}
/* .navbar-collapse{
    background-color:black;
} */

.promo{
    margin-top: 10px;
    display: flex;
    padding: 2% 15%;
    justify-content: space-around;
}

.card{
    border-radius: 30px;
    margin: 0 10px;
    height: 450px;
    border: 4px solid gray;
}

.card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 40%;
}

.card .card-body h5{
    font-weight: 800;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    text-align: center;
}

.card .card-body p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.productos{
padding: 5% 5%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}


.carousel {
    height: 300px;
    width: 50%;
   }

.carousel .carousel-inner .carousel-item img{
    height: 250px;
    width: 50%;
}
.carousel-indicators li{
    
    background-color: red;
}

.productos h1{
    font-family: 'Pacifico', cursive;
    margin-bottom: 50px;
    text-align: center;
    line-height: 4rem;
}

.ganadores{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ganadores h1{
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

.experiencias {
    display: grid;
    grid-template: repeat(3,1fr) / repeat(4,1fr);
    padding: 5% 15%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}


.experiencias .foto-experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50px;
}


.experiencias .foto-experiencia img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.experiencias .exp-principal{
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 4;
}
.experiencias .exp-principal {
    border-radius: 50px !important;
}
.experiencias .exp-principal img{
    width: 100%;
    height: 100%;
    border-radius: 50px !important;
}

.experiencias .exp-2{
    grid-column-start: 4; 
    grid-row-start: 1; 
   
  }

  .experiencias .exp-3{
    grid-column-start: 3; 
    grid-row-start: 2; 
   
  }

  .experiencias .exp-4{
    grid-column-start: 4; 
    grid-row-start: 3; 
   
  }

  footer{
      background-color:#2A2A2A;
      height: 200px;
      display: grid;
      grid-template: 1fr / repeat(2,1fr);
      padding: 2% 2%;
      width: 100%;
  }
  footer .logo-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2%;
  }
  footer .logo-footer p{
    font-family: 'Press Start 2P', cursive;
    color: #fff;  
    Text-Decoration: none !important;
    font-size: 2rem;
  }

  footer .contacto-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contacto-footer img{
    height: 50%;
    margin: 5px;
}

footer .contacto-footer p{
    color:white;
    font-size: 1.5rem;
    margin: 2px;
}

footer .contacto-footer span{
    color:#fff;
    font-size: 1.5rem;
}

.rifas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.rifas .card-rifa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2%;
    flex-direction: column;
}

.rifas .card-rifa .card-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 10px;
}

.rifas .card-rifa .card-contenido img{
    border-radius: 10px;
    height: 100%;
    width: 30%;
}

.rifas .card-rifa .card-contenido .datos-rifa{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }

 .rifas .card-rifa .card-contenido .datos-rifa p{
     font-weight: 600;
     font-size: 1rem;
 }

 .rifas .card-rifa .card-contenido .datos-rifa p span{
    font-weight: normal;
    font-size: 1rem;
}

.rifas .card-rifa .card-contenido .descripcion-rifa{
   width: 30%;
}

.rifas .card-rifa .card-contenido .descripcion-rifa p span{
    font-weight: 600;
    font-size: 1rem;
}

.rifas .card-rifa .card-contenido .descripcion-rifa p{
   font-weight: normal;
   font-size: 1rem;
}

.rifas .card-rifa .card-contenido .btn-rifa{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rifas .card-rifa .card-contenido .btn-rifa button{
    border-radius: 10px;
    outline: none;
    border: none;
    height: 50px;
    width: 80%;
    color: #fff;
    background-color: #2A314E;
    font-weight: 600;
}

@media (max-width:769px){
   
    .card .card-body h5{
       font-size: 1.5rem;
    }
    .card .card-body p{
        font-size: 1rem;
     }


}

@media (max-width:425px){

    .banner h1{
        font-size: 3rem;
    }
    .nav-item a{
        color: black;
        font-size: 1.5rem;
    }
    .banner{
        height: 600px;
    }

    .promo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
    }

    .promo .card{
        width: 100% !important;
        margin: 10px 0;
    }

    .card .card-body p{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.5rem;
    }

    .carousel {
        height: 300px;
        width: 80%;
       }
    
    .carousel .carousel-inner .carousel-item img{
        height: 250px;
        width: 80%;
    }

    .experiencias {
        grid-template: repeat(4, 1fr) / repeat(2,1fr);
        padding: 5% ;
    }

    .experiencias .exp-principal{
        grid-column-start: 1; 
        grid-column-end: 3; 
        grid-row-start: 1; 
        grid-row-end: 3;
      }
      
      .experiencias .exp-2{
          grid-column-start: 1; 
          grid-row-start: 3; 
         
        }
      
        .experiencias .exp-3{
          grid-column-start: 2; 
          grid-row-start: 3; 
         
        }
      
        .experiencias .exp-4{
          grid-column-start: 1; 
          grid-column-end: 3;
          grid-row-start: 4; 
        }
        footer{
            grid-template: repeat(2,1fr) / 1fr;
        }
        .rifas .card-rifa .card-contenido{
            flex-direction: column;
        }

        .rifas .card-rifa .card-contenido img{
            width: 100%;
            height: 200px;
            margin-bottom: 30px;
        }

        .rifas .card-rifa .card-contenido .datos-rifa{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 5px;
         }
        
        .rifas .card-rifa .card-contenido .descripcion-rifa{
           width: 100%;
        }

        
        .rifas .card-rifa .card-contenido .btn-rifa{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
     
    }